@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 43 95% 68%;
    --primary-foreground: 43 54% 12%;

    --secondary: 55 100% 89%;
    --secondary-foreground: 55 16% 1%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 330 100% 71%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;

    --radius: 1rem;

    /* Custom colors here */
    --yellow-lightest: 55 96% 81%;
    --yellow-light: 54 100% 75%;
    --yellow: 47 94% 68%;
    --yellow-dark: 43 95% 68%;
    --yellow-darkest: 31 98% 68%;

    --blue-lightest: 202 99% 45%;
    --blue-light: 205 98% 36%;
    --blue: 209 95% 25%;
    --blue-dark: 233 100% 17%;
    --blue-darkest: 226 100% 8%;
    --blue-accessories: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.8);
  border-radius: var(--radius);
}

*::-webkit-scrollbar-track {
  background: hsl(var(--primary) / 0.3);
  border-radius: var(--radius);
}
